*,
html,
:root {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: fantasy;
}

.home {
  background: url("./images/board.jpg") no-repeat;
  background-size: cover;
  height: 750px;
  color: white;
}

.home main {
  color: white;
  margin-left: 80px;
  margin-top: 50px;
}

.home main h1 {
  font-size: 50px;
}

.home main button {
  padding: 10px 30px;
  font-size: 30px;
  color: black;
}

.home main button:hover {
  background: black;
  cursor: pointer;
  color: white;
  -webkit-box-shadow: 5px 5px white;
          box-shadow: 5px 5px white;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  padding: 20px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  margin: 20px auto auto 50px;
  font-size: 75px;
}

nav .logo:hover {
  cursor: pointer;
  text-decoration: underline;
  letter-spacing: 5px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

nav #nav_right {
  margin-top: 20px;
  font-size: 30px;
}

nav #nav_right span {
  margin: 10px;
}

nav #nav_right span:hover {
  cursor: pointer;
  text-decoration: underline;
  letter-spacing: 5px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.shop main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.shop main aside {
  margin: 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop main aside h1 {
  margin-bottom: 50px;
  font-size: 30px;
}

.shop main aside span {
  margin: 10px 0px;
  font-size: 20px;
}

.shop main aside span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.shop main aside span:active {
  color: blue;
}

.shop main section {
  margin: 0px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.Batteries,
.DataPorts,
.RepairKits,
.Cameras {
  display: none;
}

.cart {
  border: 3px solid black;
  height: 100%;
  min-width: 33.3%;
  background: white url("./images/carticon.png") no-repeat center;
  background-size: 100px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 0px;
  color: black;
}

.cart img {
  width: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 50px;
}

.Product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid black;
  margin: 30px;
}

.Product:hover {
  opacity: 0.5;
  cursor: pointer;
}

.Product img {
  width: 200px;
  padding: 20px;
}
/*# sourceMappingURL=index.css.map */